.last-container {
  width: 100%;
  margin: 5rem 0;
}

.title-text {
  display: block;
  border-bottom: none;
  padding: 20px;
  font-size: 40px;
  font-family: 'Gilroy', sans-serif;
  color: black !important;
  line-height: 48px;
  /* margin: 0 auto; */
  /* font-weight: 700; */
  /* width: 100%; */
}

.section-buttons {
  margin-bottom: 2rem;
  display: flex;
  color: white !important;
}
@media (max-width: 850px) {
  .section-buttons {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .section-buttons {
    flex-wrap: wrap;
  }
}
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.primary {
  background-color: #284b30;
  color: #fff;
  border: none;
  width: 180px;
  height: 45px;
  margin: 10px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
}
.primary:hover {
  transform: scale(1.1);
  background: #e95959;
}
.steps-text {
  /* display: block; */
  border-bottom: none;
  /* padding: 20px; */
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  color: #fff !important;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
  /* font-weight: 700; */
}
.middle-section {
  display: flex;
  /* width: 70%; */
  padding: 30px;
  margin-bottom: 2rem;
}

.left {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.img-resize {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 65.25%;
}

.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  object-position: center;
}

.right {
  display: grid;
  /* place-items: center; */
  margin-top: 50px;
  /* padding-left: 50px; */
  text-align: left;
  flex: 1;
}

.text-justified {
  display: block;
  border-bottom: none;
  /* padding: 20px; */
  font-size: 20px;
  font-family: 'Gilroy', sans-serif;
  color: black;
  line-height: 25px;
  text-align: justify !important;
  /* margin: 0 auto; */
  font-weight: 400;
  /* width: 95%; */
}

@media (max-width: 768px) {
  .primary {
    padding: 0 1rem;
  }
}

@media (max-width: 500px) {
  .primary {
    padding: 0 1rem;
  }
}
