.images {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 20px;
  transition: 500ms;
}

.first {
  background-size: 100%;
  transition: 500ms;
  border-radius: 20px;
  
}

.first:hover {
  background-size: 120%;
  opacity: 0.5;
}
