.heroContainer {
  background: rgb(94, 202, 126);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 100vh !important;
  /* position: relative; */
  /* z-index: 1; */
  /* margin-top: -80px; */
  display: flex;
}

/* 
.heroContent {
  z-index: 10;
  max-width: 1200px;
  position: absolute;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.heroLeftArea {
  position: absolute;
  left: 50px;
  top: 150px;
}

.heroVector {
  position: absolute;
  left: 0;
  /* top: 0; */
  height: 100vh !important;
}

@media screen and (max-width: 767px) {
  .howtoVector {
    position: absolute;
    left: 0;
    top: 0;
    height: 80vh !important;
    display: none;
  }
}
.heroTitle {
  color: black;
  font-size: 45px !important;
  font-weight: 700;
  width: 500px;
  line-height: 55px;
  font-family: 'Gilroy' !important;
}

.heroDescription {
  font-size: 25px;
  width: 500px;
  margin-top: 20px;
  font-family: 'Gilroy' !important;
}

.heroRightHomepage img {
  position: absolute;
  bottom: 0px;
  right: 50px;
}

.register {
  z-index: -1;
  display: block !important;
  bottom: 20px !important;
  margin-top: 10px;
  width: 400px;
  margin-right: 50px;
  right: 50px !important;
  background-color: #fff !important;
  font-family: 'Gilroy', sans-serif;
  padding: 20px;
  box-shadow: -8px 10px 26px -17px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 767px) {
  .register {
    background-color: #5eca7e !important;
    box-shadow: none;
    border: none;
  }
}
.register {
  z-index: 1;
  background-color: #fff;
  font-family: 'Gilroy', sans-serif;
}

.trial-form-title {
  display: block;
  border-bottom: none;
  /* padding: 20px; */
  font-size: 20px;
  font-family: 'Gilroy', sans-serif;
  color: black !important;
  line-height: 25px;
  text-align: center;
  /* margin-top: 20px; */
  /* font-weight: 700; */
}

.input {
  background: transparent;
  font-family: 'Gilroy';
  outline: none;
  border: 0;
  border-bottom: 1px solid grey;
  /* padding: 0 0 10px 0; */
  font-size: 16px;
  display: block;
  margin: 5px;
  font-family: 'Gilroy';
  /* width: 95%; */
}
.qr-code {
  position: fixed;
  padding: 10px;
  color: white;
  /* background-color: black; */
  bottom: 75px !important;
  right: 5px;
  z-index: 10;
  /* display: none; */
}

.qr-code:hover {
  transform: scale(1.5);
}

.buttons {
  margin-top: 20px;
  font-family: 'Gilroy', sans-serif;
  background-color: #e95959;
  color: white;
  padding: 12px 50px;
  font-size: 16px !important;
  border-radius: 8px;
  font-weight: 800 !important;
  border: none;
  cursor: pointer;
}

form {
  margin-top: 30px;
}
@media (max-width: 767px) {
  form {
    margin-top: 25px;
  }
}
@media (max-width: 990px) {
  .heroRightHomepage {
    display: none;
  }
}

@media (max-width: 568px) {
  .heroRightHomepage {
    display: none;
  }

  .heroContainer {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    /* margin-bottom: 170px; */
  }

  .heroLeftArea {
    /* display: none; */
    position: absolute;
    left: 0;
    margin: 0 auto !important;
    max-width: 100%;
  }

  .heroTitle {
    font-size: 30px !important;
    font-weight: 700;
    width: 100% !important;
    line-height: 30px !important;
    font-family: 'Gilroy' !important;
    text-align: center !important;
    padding: 20px !important;
  }

  .trial-form-title {
    color: white !important;
    font-weight: 800;
  }

  .heroDescription {
    width: 100% !important;
    color: white !important;
    font-size: 25px !important;
    font-weight: 800;
  }

  .register {
    width: 95% !important;
    padding: 10px 20px !important;
    margin: 0 auto;
  }

  .steps-text {
    color: black !important;
    padding: 10px !important;
  }

  .buttons {
    padding: 1rem 0;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .heroRightHomepage {
    display: none;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }

  .heroLeftArea {
    /* display: none; */
    position: absolute;
    left: 0;
    margin: 0 auto !important;
    max-width: 100%;
  }

  .heroTitle {
    color: white !important;
    font-size: 30px !important;
    font-weight: 700;
    width: 100% !important;
    line-height: 30px !important;
    font-family: 'Gilroy' !important;
    text-align: center !important;
  }

  .heroDescription {
    width: 100% !important;
    color: white;
    font-size: 22px !important;
  }

  .register {
    width: 100% !important;
    padding: 20px 20px !important;
    margin: 0 auto;
  }

  .steps-text {
    color: black !important;
    padding: 10px !important;
  }

  .buttons {
    padding: 1rem 0;
    width: 100%;
  }
}
