.one-liner p {
  display: block;
  border-bottom: none;
  padding: 150px 20px;
  font-size: 36px;
  font-family: 'Gilroy', sans-serif !important;
  color: black;
  line-height: 48px;
  text-align: center;
  margin: 0 auto;
  font-weight: 800 !important;
  width: 85%;
}
