.aboutheroContainer {
  background: rgb(94, 202, 126);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  /* height: 850px; */
  /* position: relative; */
  /* z-index: 1; */
  /* margin-top: -80px; */
  height: 80vh !important;
}
@media screen and (max-width: 767px) {
  .aboutheroContainer {
    background: rgb(94, 202, 126);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    height: 850px;
    position: relative;
    z-index: 1;
    margin-top: -100px;
    margin-left: -40px;
    height: 100vh !important;
  }

  .heroRightAboutImage {
    height: 300px;
    width: 300px;
    position: absolute;
    /* margin-top: 175px; */
    left: 80px !important;
    top: 340px !important;
  }
}
/* 
.heroContent {
  z-index: 10;
  max-width: 1200px;
  position: absolute;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.heroLeftAbout {
  position: absolute;
  left: 50px;
  top: 200px !important;
}

.heroVectorAbout {
  position: absolute;
  left: 0;
  /* top: 0; */
  height: 80vh !important;
}
@media screen and (max-width: 767px) {
  .heroVectorAbout {
    display: none;
  }

  .aboutheroContainer {
    background-image: url('../../images/child-wave.png');
  }

  .heroLeftAbout {
    position: absolute;
    left: 50px;
    /* top: 300px !important; */
  }
}
.heroTitle {
  /* position: absolute; */
  left: 30px;
  /* top: 10px; */
  color: black;
  font-size: 50px;
  font-weight: 700;
  width: 85%;
  line-height: 55px;
}

.heroDescription {
  font-size: 25px;
  width: 500px;
  margin-top: 20px;
}

.heroRightAbout img {
  position: absolute;
  top: 106px;
  left: 800px;
}
/* 
.heroRight {
  background-image: url('../../images/teachers.jpg');
} */

.steps-text {
  display: block;
  border-bottom: none;
  /* padding: 20px; */
  font-size: 20px;
  font-family: 'Gilroy', sans-serif;
  color: black;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
  /* font-weight: 700; */
}

.input {
  background: transparent;
  outline: none;
  border: 0;
  border-bottom: 1px solid grey;
  /* padding: 0 0 10px 0; */
  font-size: 1.2rem;
  display: block;
  margin: 5px;
  /* width: 95%; */
}
