.classin-container {
  margin-bottom: 50px;
  /* background: rgb(94, 202, 126); */
  background-image: url('../../images/philosophy-joely.png');
  /* position: relative; */
  color: white !important;
  max-width: 100% !important;
  /* margin: 45px 0px; */
  align-items: center;
  padding: 50px 0px;
  /* background-attachment: fixed; */
}

.classin-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  background-size: contain;
}

.classin-content {
  width: 75%;
  margin: 0 auto !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
}

.classin-title {
  display: block;
  border-bottom: none;
  /* padding: 20px; */
  font-size: 40px;
  font-family: 'Gilroy', sans-serif;
  color: black;
  line-height: 48px;
  text-align: center;
  /* margin: 0 auto; */
  /* font-weight: 700; */
  width: 75%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .classin-title {
    display: block;
    border-bottom: none;
    /* padding: 20px; */
    font-size: 30px;
    font-family: 'Gilroy', sans-serif;
    color: black;
    line-height: 40px;
    text-align: center;
    /* margin: 0 auto; */
    font-weight: 500;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .classin-content {
    width: 90%;
    margin: 0 auto !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
  }

  .classin-container {
    margin-bottom: 50px;
    /* background: rgb(94, 202, 126); */
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.6) 35%,
        rgba(0, 0, 0, 0.6) 100%
      ),
      url('../../images/mobile-classin.png');
    /* position: relative; */
    color: white !important;
    /* opacity: 0.4; */
    max-width: 100% !important;
    /* margin: 45px 0px; */
    align-items: center;
    padding: 10px 0px;
    /* background-attachment: fixed; */
  }

  .classin-title {
    color: white !important;
  }

  .text-justified-classin {
    color: white !important;
    font-size: 22px;
    text-align: justify;
  }
}
.text-justified-classin {
  display: block;
  border-bottom: none;
  padding: 25px 0px;
  font-size: 20px;
  font-family: 'Gilroy', sans-serif;
  color: black;
  line-height: 25px;
  text-align: center !important;
  /* margin: 0 auto; */
  font-weight: 400;
  /* width: 95%; */
}

.buttons {
  margin-top: 20px;
  font-family: 'Gilroy', sans-serif;
  background-color: #e95959;
  color: white;
  padding: 12px 60px;
  font-size: 20px !important;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-family: 'Gilroy';
}

.image-text {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
