.custom_margin_top {
  margin-top: 100px !important;
}

.title-text {
  display: block;
  border-bottom: none;
  padding: 20px;
  font-size: 40px;
  font-family: 'Gilroy', sans-serif;
  color: black !important;
  line-height: 48px;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  width: 75%;
}

.subtitle-center-bold-services {
  display: block;
  border-bottom: none;
  /* padding: 20px; */
  font-size: 22px;
  font-family: 'Gilroy', sans-serif;
  color: black;
  line-height: 25px;
  text-align: center;
  /* margin-bottom: 20px; */
  font-weight: 700;
  /* width: 95%; */
}

.card {
  /* height: 110%; */
  /* margin-bottom: 20px; */
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.service-images {
  height: 65px !important;
  width: 50px !important;
}

/* .service-images:hover {
  opacity: 0.8;
} */

.services p {
  width: 90% !important;
  text-align: center;
}

.card:hover {
  background: #5eca7f !important;
  cursor: pointer;
}

.custom_margin_top2 {
  margin-top: 6rem !important;
}
.margin_left {
  margin-left: 3rem !important;
}

.description p {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

.justify-content-center {
  margin: 0 auto;
}

.centered-div {
  width: 80%;
  margin: 0 auto;
}

.card-height {
  height: 400px !important;
}

@media (max-width: 500px) {
  .centered-div {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 !important;
  }

  .custom_margin_top {
    padding-top: 0 !important;
  }

  /* .subtitle-center-bold-services {
    margin: 0 auto;
    width: 100% !important;
    justify-content: center;
    text-align: center;
  } */
}
