#works {
  width: 1443px;
  width: 100%;
  height: 500px;
  background: #f9f9f9;
}

.carousel-item {
  width: 300px;
  height: 275px;
}

.carousel-inner .carousel-item {
  margin-right: inherit;
}

#works-carousel {
  margin-left: 30px;
  margin-right: 30px;
  /* padding-top: 30px; */
}

.image-item {
  margin-right: 44px;
  margin-bottom: 30px;
}

#works-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  margin-left: 40px;
  line-height: 1;
  text-transform: uppercase;

  /* identical to box height, or 126% */

  letter-spacing: 0.396px;
  /* padding-top: 107px; */
  color: #ffffff;
}

#works-text p {
  display: flex;
  width: 920px;
  text-transform: none;
  font-weight: 400;
}
