/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

.service .service-item {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  transition: 0.3s;
}

.service .service-item:hover,
.service .service-item.active {
  background: #343148;
  color: #ffffff;
}

.service .service-icon {
  position: relative;
  margin: 0 auto 25px auto;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.service .service-icon i {
  position: relative;
  font-size: 50px;
  color: #343148;
  z-index: 3;
}

.service .service-icon:before {
  content: '';
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #db8760;
  border-radius: 50%;
  animation: pulse-border 2000ms ease-out infinite;
}

.service .service-icon:after {
  content: '';
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #e28f89;
  border-radius: 50%;
  transition: all 200ms;
}

.numbersicons {
  color: white;
  z-index: 100;
  text-align: center;
  vertical-align: middle;
  font-size: 30px !important;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
    opacity: 0;
  }
}

.service .service-item h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s;
}

.service .service-item:hover h3,
.service .service-item.active h3 {
  color: #f7cac9;
}

.service .service-item p {
  margin: 0;
  font-size: 16px;
}
