.howtoContainer {
  background: rgb(94, 202, 126);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  /* height: 850px; */
  /* position: relative; */
  /* z-index: 1; */
  /* margin-top: -80px; */
  height: 80vh !important;
}

/* 
.heroContent {
  z-index: 10;
  max-width: 1200px;
  position: absolute;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.heroLeft {
  position: absolute;
  left: 50px;
  top: 250px !important;
}

.howtoVector {
  position: absolute;
  left: 0;
  /* top: 0; */
  height: 80vh !important;
}

.heroTitle {
  color: black;
  font-size: 50px;
  font-weight: 700;
  width: 500px;
  line-height: 55px;
  left: 20px !important;
}

.heroDescription {
  font-size: 25px;
  width: 500px;
  margin-top: 20px;
}

.steps-text {
  display: block;
  border-bottom: none;
  /* padding: 20px; */
  font-size: 20px;
  font-family: 'Gilroy', sans-serif;
  color: black;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
  /* font-weight: 700; */
}

.heroRightHow {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-how {
  position: absolute;
  top: 0;
  left: 530px;
  bottom: 0;
  right: 0;
  height: 400px !important;
  min-width: 600px !important;

  height: auto; /* to keep proportions */
  max-width: 100%; /* not to stand out from div */
  max-height: 100%; /* not to stand out from div */
  margin: auto auto 0; /* position to bottom and center */
}

@media (max-width: 600px) {
  /* .heroRightHomepage {
    display: none;
  } */

  .heroRightHow {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .hero-how {
    position: absolute;
    top: 0;
    left: -250px;
    bottom: 0;
    right: 0;
    width: auto;
    height: 250px !important;
    /* width: 200px !important; */
  }

  .heroLeft {
    position: absolute;
    left: 0px;
    top: 105px !important;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }

  .heroLeftArea {
    /* display: none; */
    position: absolute;
    left: 0;
    margin: 0 auto !important;
    max-width: 100%;
  }

  .howtoVector {
    display: none;
  }

  .heroTitle {
    font-size: 30px !important;
    font-weight: 700;
    /* width: 100% !important; */
    line-height: 30px !important;
    font-family: 'Gilroy' !important;
    text-align: center !important;
    margin: 0 auto;
    padding-right: 50px;
    padding-top: 50px;
  }
}
