/* .container {
  margin-bottom: 30px;
} */

.title-text {
  display: block;
  border-bottom: none;
  padding: 20px;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  color: black !important;
  line-height: 48px;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  width: 75%;
}

.countries:hover {
  opacity: 0.7;
  color: green;
  font-weight: 600;
  cursor: pointer;
}

.text-justified-tours {
  display: block;
  border-bottom: none;
  padding: 5px 10px;
  font-size: 20px;
  font-family: 'Gilroy', sans-serif;
  color: black;
  line-height: 25px;
  text-align: justify;
  /* margin: 0 auto; */
  font-weight: 400;
  width: 100%;
}
