.folder {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.teaching-philosophy {
  margin-top: 80px;
  margin-bottom: 0;
  text-align: center;
}

.folder > li {
  padding: 20px;
  list-style-type: none;
}

.title-text {
  display: block;
  border-bottom: none;
  padding: 20px;
  font-size: 40px;
  font-family: 'Gilroy-Black', sans-serif;
  color: black !important;
  line-height: 48px;
  text-align: center;
  margin: 0 auto;
  /* font-weight: 700; */
  width: 75%;
}

.steps-text {
  /* display: block; */
  border-bottom: none;
  /* padding: 20px; */
  font-size: 20px;
  font-family: 'Gilroy', sans-serif;
  color: black;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
  /* font-weight: 700; */
}

.sect1 {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 5%;
}

.sect1 li {
  width: 300px;
  /* justify-content: center; */
  /* text-align: justify; */
  padding: 30px;
  list-style: none;
}

.contain > li,
.contain1 > li {
  padding: 10px;
  list-style: none;
}
.contain {
  display: flex;
  flex-direction: row;
}

.buttons {
  margin-top: 20px;
  font-family: 'Gilroy', sans-serif;
  background-color: #e95959;
  color: white;
  padding: 12px 60px;
  font-size: 20px !important;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.row {
  display: flex;
  margin-bottom: 50px;
}

.philosophy-image {
  height: 400px !important;
  width: 80%;
}

.team-intro {
  padding: 10px;
  margin: 0px auto;
  text-align: center;
}

.team-intro h2 {
  display: inline-block;
  margin: 0 30px;
  margin-bottom: 5px;
  padding: 0 10px;
  position: relative;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  font-family: 'Gilroy', sans-serif !important;
  background: #f7f9fb !important;
}

.team-intro h2::after {
  position: absolute;
  content: '';
  height: 4px;
  top: 25px;
  right: -30px;
  left: -30px;
  background: rgb(94, 202, 126);
  z-index: -10;
  align-items: center;
}

.text-justified-philosophy {
  color: white;
  font-size: 25px;
  text-align: justify;
  font-weight: 600 !important;
}

.image-text {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.our-philosophy {
  background-image: linear-gradient(
      rgba(61, 95, 38, 0.5),
      rgba(58, 95, 37, 0.5)
    ),
    url('../../images/philosophy-joely.png');
  /* position: relative; */
  color: white !important;
  max-width: 100% !important;
  /* margin: 45px 0px; */
  padding: 100px 0px;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-size: contain; */
}

.icons-div img {
  align-items: center;
  margin: 0 auto;
}

.image-margin img {
  margin-left: 17px !important;
}

.icons-div p {
  margin: 0 auto;
  /* align-content: left; */
  /* text-align: center; */
  font-size: 25px;
  padding: 5px;
}

.philosophy-content {
  width: 75%;
  margin: 0 auto;
}
