.sportsacademy-container {
  margin-bottom: 50px;
  /* background: rgb(94, 202, 126); */
  background-image: linear-gradient(
      rgba(61, 95, 38, 0.8),
      rgba(58, 95, 37, 0.8)
    ),
    url('../../images/IMG_3398.JPG');
  /* position: relative; */
  color: white !important;
  width: 100%;
  /* margin: 45px 0px; */
  padding: 150px 0px;

  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-size: contain; */
}

.sportsacademy-container img {
  max-width: 100%;
}

.sportsacademy-content {
  width: 75%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-left-about {
  display: block;
  border-bottom: none;
  /* padding: 20px; */
  font-size: 40px;
  font-family: 'Gilroy', sans-serif;
  color: white;
  line-height: 48px;
  text-align: center;
  /* margin: 0 auto; */
  /* font-weight: 700; */
  /* width: 75%; */
}

.text-justified-about {
  color: white;
  font-size: 25px;
  text-align: center;
  font-weight: 600 !important;
  font-family: 'Gilroy';
}

.buttons {
  margin-top: 20px;
  font-family: 'Gilroy', sans-serif;
  background-color: #e95959;
  color: white;
  padding: 12px 20px;
  font-size: 20px !important;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

@media (max-width: 500px) {
  .sportsacademy-container {
    padding: 20px 0px;
  }

  .text-left-about {
    font-size: 25px;
    font-weight: 800;
  }

  .sportsacademy-container {
    margin-bottom: 50px;
    /* background: rgb(94, 202, 126); */
    background-image: linear-gradient(
        rgba(61, 95, 38, 0.8),
        rgba(58, 95, 37, 0.8)
      ),
      url('../../images/mobile-sports-trainers.png');
    /* position: relative; */
    color: white !important;
    width: 100%;
    /* margin: 45px 0px; */
    padding: 100px 0px;

    /* background-attachment: fixed; */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-size: contain; */
  }

  .sportsacademy-content {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
}
