* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f9fb !important;
  font-family: 'Gilroy-Bold', sans-serif;
  font-family: 'Gilroy-Heavy', sans-serif;
  font-family: 'Gilroy-Light', sans-serif;
  font-family: 'Gilroy-Medium', sans-serif;
  font-family: 'Gilroy-Regular', sans-serif;
}


