.numbers-header {
  justify-content: center;
  padding: 60px;
  background: rgb(94, 202, 126);
  position: relative;
  min-width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 60px;
  object-fit: contain;
  background-position: center;
  background-size: contain;
  font-family: 'Gilroy', sans-serif !important;
}

.numbers-header h3 {
  text-align: center;
  color: white !important;
  font-size: 50px !important;
  /* font-style: bold; */
  font-family: 'Gilroy', sans-serif !important;
}

.number1 p {
  width: 300px;
  text-align: center;
  color: white !important;
}

.numbers-text {
  display: block;
  border-bottom: none;
  padding: 5px;
  font-size: 50px !important;
  font-family: 'Gilroy', sans-serif !important;
  color: black !important;
  /* line-height: 48px; */
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
  /* width: 75%; */
}

.numbers {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .title-text {
    font-size: 20px !important;
    padding: 20px 5px !important;
  }

  .numbers-header h3 {
    width: 100%;
    font-size: 30px !important;
    padding: 0 !important;
  }

  .numbers {
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
  }
}
@media (max-width: 600px) {
  .title-text {
    font-size: 20px !important;
    padding: 20px 5px !important;
  }

  .numbers-header {
    padding: 20px;
  }

  .numbers-header h3 {
    width: 100%;
    font-size: 30px !important;
  }

  .numbers {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .subtitle-center-bold {
    padding: 0 !important;
    margin: 0 auto;
    margin-top: 5px !important;
    margin-bottom: 25px !important;
  }
}
